/* This is the css code for HEAD of the website */

body {
    background-image: url(../images/background.jpg);
}

.container {
    display: inline-block;
    box-shadow: 10px 10px 10px;
    width: 80%;
    margin-left: 150px;
    background-color: white;
}

.container img {
    padding-right: 110px;
}


/*.head {
    display: inline-block;
    box-shadow: 10px 10px 10px;
    width: 80%;
    margin-left: 150px;
} */


/* This is the css for Menu */

.head ul li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.head ul {
    margin-left: 25px;
    padding-bottom: 20px;
}

.head ul li a {
    text-decoration: none;
    color: orangered;
    margin-left: 80px;
    font-size: 20px;
}

.head ul li a:hover {
    text-decoration: none;
    color: darkgreen;
}


/* This is the css for Body */

.body {}


/* This is the css for Footer */

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 150px;
}

.footer ul li a {
    text-decoration: none;
    color: orangered;
    font-size: 20px;
}

.footer ul li a:hover {
    text-decoration: none;
    color: darkgreen;
}


/* This is the css for Social Network Bar */

.social {
    display: inline-block;
    position: fixed;
}

.social ul li {
    list-style: none;
    padding-bottom: 70px;
}

.social a {
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
}