
#wb_header { height: 117px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1845px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 130px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll center bottom; }
body { background: transparent url("../gallery_gen/c9c4dd6ce6be5ad59813dd4594d489ad.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/76e3ac6d50f9be9536cdd80becaffbed.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 1200px; min-height: 2092px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 2042px; overflow: visible; min-height: 2092px; }
#wb_element_instance0 { top: 57px; left: 658px; min-width: 530px; width: 530px; min-height: 36px; height: 36px; display: block; z-index: 330; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: underline; color: #f7f7f7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 15px; left: 10px; min-width: 270px; width: 270px; min-height: 70px; height: 70px; display: block; z-index: 128; }
#wb_element_instance2 { top: 57px; left: 188px; min-width: 430px; width: 430px; min-height: 24px; height: 24px; display: block; z-index: 131; }
#wb_element_instance3 { top: 65px; left: 152px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 132; }
#wb_element_instance3 > .wb_shp { background: #0db6ff none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 20px; height: 20px; }
#wb_element_instance4 { top: 70px; left: 30px; min-width: 246px; width: 246px; min-height: 24px; height: 24px; display: block; z-index: 128; }
#wb_element_instance5 { top: 55px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 130; }
#wb_element_instance5 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 { top: 56px; left: 1140px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 131; }
#wb_element_instance6 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { top: 1400px; left: 30px; min-width: 320px; width: 320px; min-height: 150px; height: 150px; display: block; z-index: 84; }
#wb_element_instance7 img { width: 320px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance8 { top: 1400px; left: 450px; min-width: 320px; width: 320px; min-height: 150px; height: 150px; display: block; z-index: 88; }
#wb_element_instance8 img { width: 320px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance9 { top: 1400px; left: 850px; min-width: 320px; width: 320px; min-height: 150px; height: 150px; display: block; z-index: 89; }
#wb_element_instance9 img { width: 320px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance10 { top: 700px; left: 30px; min-width: 540px; width: 540px; min-height: 32px; height: 32px; display: block; z-index: 98; }
#wb_element_instance11 { top: 670px; left: 0px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 97; }
#wb_element_instance11 > .wb_shp { background: #0282b0 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 0.7; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance12 { top: 1310px; left: 0px; min-width: 1200px; width: 1200px; min-height: 66px; height: 66px; display: block; z-index: 99; }
#wb_element_instance13 { top: 1680px; left: 30px; min-width: 320px; width: 320px; min-height: 65px; height: 65px; display: block; z-index: 100; }
#wb_element_instance14 { top: 1680px; left: 450px; min-width: 320px; width: 320px; min-height: 65px; height: 65px; display: block; z-index: 101; }
#wb_element_instance15 { top: 1680px; left: 850px; min-width: 330px; width: 330px; min-height: 65px; height: 65px; display: block; z-index: 105; }
#wb_element_instance16 { top: 20px; left: 0px; min-width: 1200px; width: 1200px; min-height: 70px; height: 70px; display: block; z-index: 106; }
#wb_element_instance17 { top: 110px; left: 0px; min-width: 1200px; width: 1200px; min-height: 70px; height: 70px; display: block; z-index: 107; }
#wb_element_instance18 { top: 940px; left: 0px; min-width: 1200px; width: 1200px; min-height: 66px; height: 66px; display: block; z-index: 116; }
#wb_element_instance19 { top: 1580px; left: 30px; min-width: 320px; width: 320px; min-height: 45px; height: 45px; display: block; z-index: 111; }
#wb_element_instance20 { top: 1580px; left: 450px; min-width: 320px; width: 320px; min-height: 67px; height: 67px; display: block; z-index: 112; }
#wb_element_instance21 { top: 1580px; left: 850px; min-width: 320px; width: 320px; min-height: 45px; height: 45px; display: block; z-index: 113; }
#wb_element_instance22 { top: 1030px; left: 300px; min-width: 870px; width: 870px; min-height: 32px; height: 32px; display: block; z-index: 114; }
#wb_element_instance23 { top: 920px; left: 0px; min-width: 1200px; width: 1200px; min-height: 370px; height: 370px; display: block; z-index: 72; }
#wb_element_instance23 > .wb_shp { background: #0db6ff none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 370px; }
#wb_element_instance24 { top: 750px; left: 30px; min-width: 540px; width: 540px; min-height: 65px; height: 65px; display: block; z-index: 110; }
#wb_element_instance25 { top: 240px; left: 0px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 80; }
#wb_element_instance25 > .wb_shp { background: #ff7445 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 0.7; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance26 { top: 450px; left: 600px; min-width: 600px; width: 600px; min-height: 180px; height: 180px; display: block; z-index: 79; }
#wb_element_instance26 > .wb_shp { background: #1acfeb none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 0.7; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 600px; height: 180px; }
#wb_element_instance27 { top: 260px; left: 30px; min-width: 540px; width: 540px; min-height: 32px; height: 32px; display: block; z-index: 117; }
#wb_element_instance28 { top: 480px; left: 630px; min-width: 540px; width: 540px; min-height: 32px; height: 32px; display: block; z-index: 118; }
#wb_element_instance29 { top: 530px; left: 630px; min-width: 540px; width: 540px; min-height: 65px; height: 65px; display: block; z-index: 115; }
#wb_element_instance30 { top: 320px; left: 30px; min-width: 540px; width: 540px; min-height: 65px; height: 65px; display: block; z-index: 120; }
#wb_element_instance31 { top: 1080px; left: 300px; min-width: 870px; width: 870px; min-height: 173px; height: 173px; display: block; z-index: 121; }
#wb_element_instance32 { top: 1030px; left: 40px; min-width: 230px; width: 230px; min-height: 230px; height: 230px; display: block; z-index: 122; }
#wb_element_instance32 img { width: 230px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance33 { top: 1765px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance34 { top: 114px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance14 p:last-child { margin-bottom: 0; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance24 p:last-child { margin-bottom: 0; }
#wb_element_instance27 p:last-child { margin-bottom: 0; }
#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }
#wb_element_instance31 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
