
#wb_header { height: 149px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 820px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 130px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll center bottom; }
body { background: transparent url("../gallery_gen/7a99a181e561855e23f442fae0e9d322.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/76e3ac6d50f9be9536cdd80becaffbed.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 1200px; min-height: 1099px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1099px; overflow: visible; min-height: 1099px; }
#wb_element_instance35 { top: 57px; left: 658px; min-width: 530px; width: 530px; min-height: 36px; height: 36px; display: block; z-index: 330; }
#wb_element_instance35 > ul { display: block; }
#wb_element_instance35 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance35, #wb_element_instance35 ul { text-align: right; }
#wb_element_instance35 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance35 li { margin: 0px 0px 0px 0px; }
#wb_element_instance35 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: underline; color: #f7f7f7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance35 li.over > a, #wb_element_instance35 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance35 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #0db6ff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance35:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance35:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance35:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance36 { top: 15px; left: 10px; min-width: 270px; width: 270px; min-height: 70px; height: 70px; display: block; z-index: 128; }
#wb_element_instance37 { top: 57px; left: 188px; min-width: 430px; width: 430px; min-height: 24px; height: 24px; display: block; z-index: 131; }
#wb_element_instance38 { top: 65px; left: 152px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 132; }
#wb_element_instance38 > .wb_shp { background: #0db6ff none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 20px; height: 20px; }
#wb_element_instance39 { top: 70px; left: 30px; min-width: 246px; width: 246px; min-height: 24px; height: 24px; display: block; z-index: 128; }
#wb_element_instance40 { top: 55px; left: 1090px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 130; }
#wb_element_instance40 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 56px; left: 1140px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 131; }
#wb_element_instance41 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance42 { top: 130px; left: 30px; min-width: 400px; width: 400px; min-height: 190px; height: 190px; display: block; z-index: 33; overflow: hidden; }
#wb_element_instance42 img { width: 400px; height: 200px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance43 { top: 150px; left: 460px; min-width: 680px; width: 680px; min-height: 143px; height: 143px; display: block; z-index: 34; }
#wb_element_instance44 { top: 30px; left: 30px; min-width: 1150px; width: 1150px; min-height: 78px; height: 78px; display: block; z-index: 35; }
#wb_element_instance45 { top: 370px; left: 60px; min-width: 680px; width: 680px; min-height: 143px; height: 143px; display: block; z-index: 39; }
#wb_element_instance46 { top: 350px; left: 770px; min-width: 400px; width: 400px; min-height: 190px; height: 190px; display: block; z-index: 36; overflow: hidden; }
#wb_element_instance46 img { width: 400px; height: 200px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance47 { top: 570px; left: 30px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; z-index: 37; }
#wb_element_instance47 img { width: 400px; height: 200px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance48 { top: 590px; left: 460px; min-width: 680px; width: 680px; min-height: 154px; height: 154px; display: block; z-index: 38; }
#wb_element_instance49 { top: 130px; left: 420px; min-width: 750px; width: 750px; min-height: 190px; height: 190px; display: block; z-index: 32; }
#wb_element_instance49 > .wb_shp { background: #ff7445; border: 5px none #C0C0C0; opacity: 0.7; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 750px; height: 190px; }
#wb_element_instance50 { top: 350px; left: 30px; min-width: 780px; width: 780px; min-height: 190px; height: 190px; display: block; z-index: 31; }
#wb_element_instance50 > .wb_shp { background: #35d1d4; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 780px; height: 190px; }
#wb_element_instance51 { top: 570px; left: 410px; min-width: 760px; width: 760px; min-height: 200px; height: 200px; display: block; z-index: 30; }
#wb_element_instance51 > .wb_shp { background: #0080b2; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 760px; height: 200px; }
#wb_element_instance52 { top: 800px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance53 { top: 114px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance36 p:last-child { margin-bottom: 0; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance39 p:last-child { margin-bottom: 0; }
#wb_element_instance43 p:last-child { margin-bottom: 0; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
